# Difference with default Doxyfile 1.8.20
PROJECT_NAME           = libnetfilter_log
PROJECT_NUMBER         = 1.0.2
ABBREVIATE_BRIEF       =
FULL_PATH_NAMES        = NO
TAB_SIZE               = 8
OPTIMIZE_OUTPUT_FOR_C  = YES
INPUT                  = /home/z/ulogd-build/deps/libnetfilter_log-1.0.2/src
FILE_PATTERNS          = *.c
RECURSIVE              = YES
EXCLUDE_SYMBOLS        = nflog_g_handle \
			 nflog_handle \
			 ipulog_errmap_t \
			 ipulog_handle
EXAMPLE_PATTERNS       =
SOURCE_BROWSER         = YES
ALPHABETICAL_INDEX     = NO
GENERATE_LATEX         = NO
LATEX_CMD_NAME         = latex
GENERATE_MAN           = YES
GENERATE_HTML          = NO
MAN_LINKS              = YES
HAVE_DOT               = YES
DOT_TRANSPARENT        = YES
SEARCHENGINE           = NO
